<h1 class="text-center title animate__animated animate__fadeIn">{{ titulo }}</h1>

<ul class="animate__animated animate__flipInX animate__fast" *ngIf="mode === 0">
	<p *ngIf="tarefas.length === 0">
		<small>Você ainda não tem nenhuma tarefa hoje</small>
	</p>

	<li *ngFor="let tarefa of tarefas">
		<span [ngClass]="{'feito': tarefa.feito, 'bold': !tarefa.feito}">{{ tarefa.descritivo }}</span>
		<!--
			Bindings em botões:
			() 		= HTML -> TS
			[] 		= HTML <- TS
			[()] 	= HTML <-> TS
		-->
		<button (click)="remover(tarefa)">
			<span class="fas fa-trash"></span>
		</button>
		
		<button *ngIf="!tarefa.feito" (click)="marcarFeito(tarefa)">
			<span class="far fa-check-circle"></span>
		</button>

		<button *ngIf="tarefa.feito" (click)="marcarNaoFeito(tarefa)">
			<span class="fas fa-check-circle" style="color: green"></span>
		</button>
	</li>
</ul>

<!--
	formGroup = associa o formulário ao FormBuilder do componente
	formControlName = associa o nome do campo ao FormBuilder do componente
-->
<div id="modal" class="animate__animated animate__flipInX animate__fast" *ngIf="mode === 1">
	<h1 class="text-center">Nova Tarefa</h1>
	<form [formGroup]="formTarefa">
		<input type="text" placeholder="Insira sua tarefa" maxlength="60" formControlName="tarefaDescritivo" />

		<!--
			NOME_DO_FORM.controls.NOME_DO_CAMPO.pristine = se o campo já foi modificado
			- é ativado quando o usuário começa a digitar e não quando a página carrega
		-->
		<small class="aviso" *ngIf="formTarefa.controls.tarefaDescritivo.invalid && !formTarefa.controls.tarefaDescritivo.pristine">
			Este campo deve conter entre 3 e 60 caractéres
		</small>

		<br/>
		
		<button class="button" [disabled]="formTarefa.invalid" (click)="adicionar()">
			<span class="fas fa-save"></span> ADICIONAR
		</button>
	</form>
</div>

<p class="text-center">
	<button class="button add animate__animated animate__fadeInUp animate__faster" (click)="mudarEstado(1)" *ngIf="mode === 0">
		<span class="fas fa-plus-circle"></span> NOVA TAREFA
	</button>

	<button class="button add animate__animated animate__fadeInUp animate__faster" (click)="mudarEstado(0)" *ngIf="mode === 1">
		<span class="fas fa-times"></span> CANCELAR
	</button>
</p>